@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #cbdcf7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #da2b2b;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb {
  background: #420177;
}

/* pre loader start */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #e6eff1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

/* pre loader end */

/* navbar starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

section {
  min-height: 100vh;
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(167, 3, 30);
}

header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}

header .logo i {
  font-size: 2.2rem;
}

header .logo:hover {
  color: #da0416;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar li {
  margin-left: 2.5rem;
}

header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #da0416;
  border-bottom: 0.2rem solid #da0416;
  padding: 0.5rem 0;
}

/* navbar ends */

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.box .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  margin-left: 6rem;
  border-radius: 2%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}

.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}

.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}

.home .content p span {
  font-size: 2.5rem;
  color: rgb(204, 9, 9);
  font-weight: 600;
  padding: 1rem 0;
}

.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #da0416;
  box-shadow: 0px 5px 18px rgba(247, 48, 48, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.home .btn:hover {
  background: rgb(142, 15, 253);
}

.home .btn:hover i {
  transform: translateX(5px);
}


/* about start   */
.about {
  display: block;
}

.about .image {
  text-align: center;
}

#about .heading p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
}

#about .content p {
  font-weight: bolder;
  font-size: large;
}

.about .image img {
  margin: 1rem;
  width: 100%;
  height: 500px;
  border-radius: 35%;
  box-shadow: 0 5px 10px rgba(5, 0, 5, 0.6);
  transition: 0.3s;
  cursor: pointer;
}

.about .box {
  font-family: sans-serif;
  font-size: medium;
  font-weight: bolder;
}

/* about end  */

/* menu start   */
.menu {
  background-color: lightcyan;
}

.menu .content {
  justify-content: space-evenly;
  font-size: large;
  font-style: italic;
}



.menu .content h2 {
  text-decoration-line: underline;
}

.menu .content #breakfast {
  display: inline-flex;
  width: 400px;
  padding: 2%;
}

.menu .content #Lunch {
  display: inline-flex;
  width: 400px;
  padding: 2%;
}

.menu .content #dinner {
  display: inline-flex;
  width: 400px;
}

.menu .content .container #image {
  display: flex;
  width: 500px;
  height: 400px;
}

.menu .content .container #image img {
  display: flex;
  justify-content: space-between;
  border: #000;
  border-radius: 25%;
  gap: 1rem;
}

/* menu end   */
/* offer start  */
.DayOffer {
  min-height: 90vh;
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}

.DayOffer h2 {
  color: #fff;
}

.DayOffer .heading span {
  color: rgb(212, 192, 6);
}

.DayOffer #container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  text-overflow: ellipsis;
}


.DayOffer #container .FF {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  flex-wrap: wrap;
  gap: 2rem;
  font-size: medium;
}

@media screen and (max-width: 600px) {
  .DayOffer .container {
    padding: 100px;
    margin: 0;
  }

  .DayOffer #container .FF {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }

  .DayOffer .container {
    margin-top: 5px;
    width: 100%;
  }
}

/* offer end */

/* Contact Start */
.Contact {
  background-color: lightgray;
}

.Contact .Con-container1 {
  font-size: large;
  display: grid;
  justify-content: space;
}

/* Contact End */